body
{
    background-color: lightgrey;
    padding: 0%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}

nav
{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 8%;
    padding-top: 10px;    
}

nav ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a
{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover
{
    color: lightblue;
    transition: .4s;
}

.content
{
    background-color: white;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 10px;
    padding: 70px 150px 328px 150px;
}

.buttons
{
    padding-left: 600px;
    display: flex;
    justify-content: space-between;
}

button
{
    text-align: center;
    width: 80px;
    height: 30px;
    background-color: lightblue;
    color: black;
    border-radius: 4px;
    border: 2px;
}

button:hover
{
    color: white;
    transition: .6s;
    cursor: pointer;
}

table
{   
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border-color: black;
}

.student_table th
{
    justify-content: center;
    align-items: center;
    align-items: center;
    border: 2px solid;
    background-color: lightblue;
}
